@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%); /* Start from the top */
        opacity: 1; /* Start invisible */
    }
    100% {
        transform: translateY(0%); /* End at the original position */
        opacity: 1; /* Fully visible */
    }
}

@keyframes exitToBottom {
    0% {
        transform: translateY(0%); /* Start from the top */
        opacity: 1; /* Start invisible */
    }
    100% {
        transform: translateY(100%); /* End at the original position */
        opacity: 1; /* Fully visible */
    }
}

.slide-in-from-bottom {
    animation: slideInFromBottom 0.7s ease-in-out; /* Adjust duration and timing function as needed */
  }

.exit-to-bottom {
animation: exitToBottom 0.7s ease-in-out; /* Adjust duration and timing function as needed */
}